<form action="#" method="post">
  <input type="text" id="name" name="name" placeholder="Name">
  <input type="text" id="code" name="code" placeholder="Code">
  <input type="text" id="pass" name="pass" placeholder="Admin Password">
  <input type="submit">
</form>
